@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    ---blue:#0967ff;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(---blue);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-text p span{
    color: #0967ff;;
}

.home-btn{
    padding: 15px 45px;
    background: var(---blue);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    text-decoration: none;
}
.home-btn:hover{
    background: #000000;
}
@media (max-width:785px) {

    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
}
  
  @media (max-width: 950px) {
    .container{
    
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }

  @media (max-width: 480px) {
    .container {
        padding: 15px 10px; /* Ajusta margens laterais menores para telas muito pequenas */
        margin: 0 40px 0 0; /* Define uma margem lateral para telas menores */
    }

    .text-h1-ctt{
        margin: 0 10px 0 40px;
        font-size: 40px;
    }

    .right-side .topic-text {
        font-size: 14px;
    }

    .right-side .input-box input,
    .right-side .input-box textarea {
        font-size: 14px;
    }
}

  .text-h1-ctt{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    text-align: center;
    color: #0967ff;
}